<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <section name="episerver.baseLibrary" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  <episerver.baseLibrary xdt:Transform="Remove"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(_defaultNamespace:assemblyIdentity/@name='EPiServer.BaseLibrary')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(_defaultNamespace:assemblyIdentity/@name='EPiServer.Implementation')" />
      <dependentAssembly xdt:Transform="Remove" xdt:Locator="Condition(_defaultNamespace:assemblyIdentity/@name='EPiServer.WorkflowFoundation')" />
    </assemblyBinding>
  </runtime>
  <!-- Duplicate episerver sections to match both with and without XML namespace -->
  <episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
    <workflowSettings xdt:Transform="Remove"/>
    <urlRewrite xdt:Transform="Remove"/>
    <applicationSettings xdt:Transform="RemoveAttributes(useLegacyFileManagerMode)"/>
  </episerver>
  <!-- Copy without the xmlns attribute -->
  <episerver>
    <workflowSettings xdt:Transform="Remove"/>
    <urlRewrite xdt:Transform="Remove"/>
    <applicationSettings xdt:Transform="RemoveAttributes(useLegacyFileManagerMode)"/>
  </episerver>
</configuration>