<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="InsertIfMissing">
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" xdt:Transform="InsertIfMissing" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>